@charset "UTF-8";


/* telas médias (tablets) */
@media (min-width: 768px) {
    /* página home */
    .cont-initial {
        height: 50px;
    }
    .tel {
        font-size: 1.1em;
    }
    #wpp, #insta, #facebook {
        width: 24px;
        height: 24px;
    }
    .topo-menu {
        height: 140px;
    }
    .logo-header img {
        /*carrega a imagem média da logo */
        content: url("../imagens/logo-m.png"); 
    }
    #icone-menu {
        padding: 10px;
        font-size: 2.2em;
    }
    .cont-menu {
        height: 550px;
    }
    .cont-titulo {
        max-width: 550px;
    }
    .cont-titulo h1 {
        font-size: 2.7em;
        max-width: 330px;
    }
    .cont-titulo p {
        font-size: 1.5em;
        padding: 20px;
    }
    .btn-header {
        max-width: 280px;
    }
    .menu {
        /* ao abrir o menu na tela de tablet posiciona mais abaixo */
        top: 97%;
        transition: max-height 0.6s ease;
    }
    .menu li {
        height: 83px;
    }
    .menu.ativo {
        max-height: 500px;
    }
    .itens-menu a {
        font-size: 1.1em;
    }
    .titulo-home {
        font-size: 1.8em;
    }
    .cont-inicio > p {
        font-size: 1.1em;
    }
    .img-home {
        height: 550px;
    }
    .cont-footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .logopng-footer {
        content: url("../imagens/logo-m.png");
    }

   
    /* body da página pedido */
    .legend-form {
        font-size: 1.6em;
    }
    .size-form {
        font-size: 1.1em;
    }
    .button-form {
        width: 200px;
    }
    .nome-pedido input, .tel-pedido input {
        padding: 8px;
        width: 200px;
    }

    /* página sobre nós */
    .titulo-sobre > h1 {
        padding-bottom: 10px;
        font-size: 2.2em;
    }
    .titulo-sobre > p {
        padding-top: 10px;
        font-size: 1.2em;
    }
    .historia-article {
        max-width: 550px;
        margin: auto;
    }
    .historia-article > p {
        font-size: 1.1em;
        line-height: 2.2em;
    }
    .titulo-tradicao {
        padding-top: 25px;
        font-size: 3.5em;
    }
    .img-sobrenos {
        max-width: 470px;
        height: 300px;
    }

    /* body página contato */
    .text-tel {
        font-size: 1.2em;
    }
    .tel-contato a {
        padding: 14px 12px 14px 12px;
        width: 170px;
    }
    .wpp-contato {
        width: 170px;
        padding: 12px;
    }
    .email-contato, .endereco, .atendimento {
        font-size: 1.1em;
    }
    #fale-conosco > h3 {
        font-size: 1.4em;
    }

    /* footer */
    .logos-footer {
        gap: 14px;
    }
    .logos-footer > h4 {
        display: block;
    }
}

/*config para uma melhor transição das imagens para celular/tablet */
/* @media (min-width: 530px) and (max-width: 620px) {
    .img-config {
        max-width: 82%;
    }
} */

/*body página cardapio telas celulares/tablet */
@media (min-width: 630px) {
    .titulo-cardapio {
        font-size: 3.4em;
    }
    .cont-pizza {
        flex-direction: row;
    }
    .img-config {
        width: 240px;
    }
    .cont-pedido > h3 {
        font-size: 2em;
    }
    .btn-pedido {
        padding: 13px;
        width: 180px;
        font-size: 1.5em;
    }
}

/* (headers) permite uma transição suave do texto principal conforme a tela aumenta/diminui */
@media (min-width: 595px) {
    .titulo-sobre {
        max-width: 600px;
        margin: auto;
    }
    .cont-titulo {
        max-width: 600px;
        margin: auto;
    }
}


/*telas desktop */
@media (min-width: 992px) {

    /* header página home */
    .cont-initial {
        padding: 35px;
        justify-content: space-around;
    }

    .cont-hamburguer {
        display: none;
    }

    /* reset das propriedades */
    .menu {
        position: static;
        top: auto;
        max-height: none;
        height: auto;
        overflow: visible;
        background-color: transparent;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .topo-menu {
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo-header img {
        content: url("../imagens/logo-grande.png");
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        width: auto;
        font-size: 1.2em;
        padding: 12px;
    }

    .menu li {
        height: auto;
        width: auto;
        padding: 0;
        outline: none;
        border: none;
    }

    .menu a {
        padding: 10px 14px;
        color: white;
        white-space: nowrap;
        font-size: 0.95em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu a:hover {
        color: var(--color01);
    }

    .btn-header:hover {
        background-color: var(--color02);
        border-color: var(--color01);
        color: white;
    }


    /*body página home */
    .cont-inicio {
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cont-inicio > p {
        font-size: 1.2em;
    }

    .cont-img-home picture {
        display: none;
    }

    #pizza-prancha {
        background-image: url("/img-home/img01-g.jpg");
        height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    #forno {
        background-image: url("/img-home/img02-g.jpg");
        height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    #prato-especial {
        background-image: url("/img-home/img03-g.jpg");
        height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    #vaso {
        background-image: url("/img-home/img04-g.jpg");
        height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    #mesa {
        background-image: url("/img-home/img05-g.jpg");
        height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .cont-img-home::after {
        box-shadow: none;
    }

    .sobre-home {
        padding: 40px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    
    .sobre-home > p {
        max-width: 400px;
        margin: auto;
        text-align: center;
        font-size: 1.1em;
    }

    .acesso-cardapio {
        padding: 40px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 1.1em;
    }

    /* footer página home */
    .cont-footer {
        font-size: 1.1em;
        gap: 60px;
    }

    .logos-footer {
        gap: 14px;
    }

    .logos-footer > h4 {
        display: block;
    }

    #redes-footer svg {
        width: 30px;
        height: 30px;
    }

    .logopng-footer {
        content: url("/imagens/logo-grande.png");
    }

    .acesso-github a:hover {
        color: var(--color04);
    }

   
    /* página cardápio */

    .titulo-cardapio {
        padding: 10px;
        font-size: 5em;
        margin-bottom: 20px;
    }

    .cardapios {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        flex: 1 1 150px;
    } 

    .cont-pizza {
        flex-direction: column;
        max-width: 350px;
        height: 540px;
        transition: transform 0.4s ease;
        font-size: 1.1em;
    }

    .cont-pizza:hover {
        transform: scale(1.05);
    }

    .img-config {
        width: 100%;
    }

    .cont-pedido > h3 {
        font-size: 2.3em;
    }

    .btn-pedido {
        padding: 15px;
        width: 200px;
        font-size: 1.7em;
    }

    /* página pedido */
    .size-form {
        font-size: 1.3em;
    }
    .nome-pedido input, .tel-pedido input {
        padding: 10px;
        width: 250px;
    }

    .nome-pedido input::placeholder, .tel-pedido input::placeholder {
        font-size: 1.2em;
    }
    .button-form {
        width: 250px;
    }
    .final-pedido:hover {
        background-color: var(--color02);
    }

    /* página sobre nós */
    .titulo-sobre > h1 {
        padding-bottom: 14px;
        font-size: 2.4em;
    }
    .titulo-sobre > p {
        padding-top: 14px;
        font-size: 1.4em;
    }
    .historia-article {
        max-width: 650px;
        margin: auto;
    }
    .titulo-tradicao {
        padding: 30px 0px;
        font-size: 4em;
    }

    /*header página sobre nós */
    .menu-sobre a {
        color: var(--color01);
    }
    .menu-sobre a:hover {
        color: var(--color02);
    }
} 
