@charset "UTF-8";


/* amanhã decidir entre a font tangerine ou parisienne, achei as duas muito boas */

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Tangerine:wght@400;700&display=swap');


@font-face {
    font-family: "florilane";
    src: url(../fontes/Florilane\ Cardillac.ttf);
    font-weight: bold;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color01: #86342F;
    --color02: #E9AFA3;
    --color03: #5D3230;
    --color-cont: #613F3D;
    --color-footer: #2E4052;
}

/* talvez eu aumente o max-width dos containers para 550px pensar depois */


html {
    /* permite rolamento suave ao descer a página */
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.cont-initial {
    padding: 10px 20px 10px 20px;
    background-color: var(--color01);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.tel {
    text-align: left;
    color: white;
}

.logos {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

#wpp {
    fill: white;
    transition: 0.3s;
}

#wpp:hover {
    fill: rgb(6, 172, 6);
}

#insta {
    fill: white;
    transition: 0.3s;
}


#insta:hover {
    fill: url(#instaGradient);
}

#facebook {
  cursor: pointer;
}


#facebook .fundo {
  fill: white;
  transition: 0.3s;
}

#facebook .letra {
  fill: transparent;
  transition: 0.3s;
}

/* hover no SVG inteiro */
#facebook:hover .fundo {
  fill: #1877F2;
}



.cont-menu {
   height: 340px;
   display: flex;
   flex-flow: column nowrap;  
   background: url(../imagens/pizza.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;
   position: relative;
}

.cont-menu.cont-sobre {
    background: none;
    background-color: var(--color03);
}

.cont-menu::after:not(.cont-sobre) {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.192);
    pointer-events: none;
}



.topo-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.126);
    position: relative;
    top: 0;
    width: 100%;
}

.topo-sobre {
    background-color: var(--color03);
}


.logo img{
   width: 110px;
   z-index: 10;
} 

.cont-hamburguer {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}


#icone-menu {
    padding: 8px;
    background-color: #86342F;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    z-index: 10;
    border: none;
}


.menu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* fase inicial do menu */
    max-height: 0; /* altura máxima de 0 */
    overflow: hidden; /* esconde o menu */
    transition: max-height 0.4s ease; /* transição suave para quando o menu for aberto */
    z-index: 10; /* menu fica numa camada maior */
}

.itens-menu{
    width: 100%;
}

.itens-menu a {
    /* aumenta a área clicável, para facilitar o uso em mobile */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* permite retirar aquele "quadradinho" azul do clique */
}

/* mostra o foco visível quando o usuário navega por teclado, importante para acessibilidade */
.itens-menu a:focus-visible {
    outline: 2px solid var(--color01);
}


.menu.ativo {
    /* quando o menu abre cresce até 300px */
    max-height: 300px;
}

.menu ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    text-align: center;
    list-style-type: none;
    padding: 4px;
    outline: 1px solid rgba(0, 0, 0, 0.071);

}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: red;
}

.cont-titulo {
    text-align: center;
    z-index: 1;
    max-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}


.cont-titulo h1, .cont-titulo p {
    color: white;
    font-weight: bold;
}



.titulo-sobre {
    padding: 20px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 2em;
}



.btn-header {
    position: relative;
    overflow: hidden;
    background-color: var(--color01);
    border: 3px solid white;
    padding: 12px;
    border-radius: 20px;
    color: white;
    width: 80%;
    text-decoration: none;
}

.btn-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100%;
    background: linear-gradient(120deg, transparent,rgba(255,255,255,0.6),transparent);
    animation: brilho 1s linear infinite;
    transform: skewX(-25deg);
}

.btn-header:focus {
    background-color: var(--color02);
    color: white;
}




.cont-principal {
    background-color: rgb(250, 241, 230);
}


.cont-principal {
    max-width: 450px;
    margin: auto;
    padding: 20px;
}

.cont-principal p {
    color: #757575;
    padding: 10px;
    margin: 5px 0px;
}

.principal-sobre {
    padding: 30px;
    line-height: 2em;
}

.sobre {
    margin: 10px 20px 20px 20px;
}

.sobre h2 {
    text-align: center;
    padding: 20px;
}

.tradicao-titulo {
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 5px;
    margin: 10px 0px;
}

.titulo-cardapio {
    text-align: center;
    padding: 20px;
}

.titulo-tradicao {
    text-align: center;
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding-top: 10px;
    margin-top: 10px;
}

.cardapios {
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.cardapios > h2 {
    margin-top: 20px;
    padding-top: 20px;
}

.cont-pizza {
    background-color: var(--color-cont);
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    text-align: center;
}

.cont-pizza p {
    color: white;
}

/* margin acima e abaixo dos cards, exceto no primeiro card */
.cont-pizza:not(#pizza-combo) {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.img-config {
    border-radius: 10px;
    width: 100%;
  
}


.cont-pizza h3, .cont-pizza p {
    padding: 10px;
}


.cont-pedido {
    margin: -10px 0px 40px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
}

.btn-pedido{
  padding: 12px;
  background: var(--color01);
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
}


.form-pedido {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color02);
  
}

.pizza-combo, .pizza-mussarela, .pizza-frango, .pizza-atum, .pizza-portugesa, .pizza-nutella, .combo-doce {
    display: flex;
    gap: 10px;
}

.cont-contato {
    padding: 20px;
}

.cont-telefones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tel-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tel-contato a {
    text-decoration: none;
    padding: 12px 10px 12px 10px;
    color: white;
    background-color: var(--color-footer);
    border-radius: 20px;
    margin: auto auto 10px auto;
    text-align: center;
    width: 150px;
}


.wpp-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: rgb(6, 172, 6);
    width: 150px;
    margin: auto;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.wpp-contato a {
    text-decoration: none;
    color: white;
}



.email-contato {
    padding: 14px 10px 14px 10px;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.email-contato a {
    text-decoration: none;
    color: black;
}

.endereco {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.atendimento {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atendimento p {
    color: black;
}

#fale-conosco {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

#form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

#cont-info {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

#cont-nome label, #cont-email label, #cont-tel label, #cont-info label, #cont-mensagem label {
    display: none;
}

#formulario div {
    display: flex;
}


.config-label {
    display: none;
}

.config-input {
    flex: 1 1 150px;
    padding: 10px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-info {
    padding: 10px;
}


.btn-form {
    padding: 10px;
    color: white;
    background-color: var(--color01);
    font-weight: bold;
    border: none;
}

.btn-form:hover {
    background-color: var(--color02);
}

.final-pedido {
    padding: 10px;
    color: white;
    background-color: var(--color01);
    font-weight: bold;
    border: none;
}

.final-pedido:focus {
    background-color: var(--color-cont);
}

.text-msg {
    text-indent: 8px;
    padding: 5px;
}

.cont-footer {
    background-color: var(--color-footer);
    max-width: 450px;
    margin: auto;
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
    margin: auto;
    color: rgb(207, 207, 207);
}


.cont-final-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.logos.logos-footer {
    justify-content: center;
}

.logo.logo-footer {
    display: block;
    margin: auto;
    height: 50px;
}

.link-vini {
    text-decoration: none;
    font-weight: bold;
    color: white;
}


/* animação contínua do botão "peça agora" do header */
@keyframes brilho {
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}