@charset "UTF-8";


/* amanhã decidir entre a font tangerine ou parisienne, achei as duas muito boas */

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Tangerine:wght@400;700&display=swap');


@font-face {
    font-family: "florilane";
    src: url(../fontes/Florilane\ Cardillac.ttf);
    font-weight: bold;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color01: #86342F;
    --color02: #592D2C;
    --color03: #5D3230;
    --color04: rgb(250, 241, 230);
    --colorp: #757575;
    --color-cont: #613F3D;
    --color-footer: #2E4052;
}

/* talvez eu aumente o max-width dos containers para 550px pensar depois */


html {
    /* permite rolamento suave ao descer a página quando clica em um link direcionado a um elemento */
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color04);
}


/* header {
    max-width: 550px;
    margin: auto;
} */

.cont-initial {
    padding: 10px 20px 10px 20px;
    background-color: var(--color01);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.tel {
    text-align: left;
    color: white;
    font-size: 0.9em;
}

.logos {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

#wpp {
    fill: white;
    transition: 0.3s;
}

#wpp:hover {
    fill: rgb(6, 172, 6);
}

#insta {
    fill: white;
    transition: 0.3s;
}


#insta:hover {
    fill: url(#instaGradient);
}

#facebook {
  cursor: pointer;
  transition: 0.3s;
}


#facebook .fundo {
  fill: white;
  transition: 0.3s;
}

#facebook .letra {
  fill: transparent;
  transition: 0.3s;
}

/* hover no SVG inteiro */
#facebook:hover .fundo {
  fill: #1877F2;
}


.cont-menu {
   height: 340px;
   display: flex;
   flex-flow: column nowrap;  
   background: url(../imagens/pizza.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;
   position: relative;

}

.cont-menu:not(.cont-sobre)::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.43);
    pointer-events: none;
}

.cont-menu.cont-sobre {
    background: none;
    background-color: var(--color03);
}

.topo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.17);
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
    
}

.logo-header img{
   width: 100%;
   z-index: 10;
   height: auto;
} 

.cont-hamburguer {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#icone-menu {
    padding: 8px;
    background-color: #86342F;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    z-index: 10;
    border: none;
}

.menu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* fase inicial do menu */
    max-height: 0; /* altura máxima de 0 */
    overflow: hidden; /* esconde o menu */
    transition: max-height 0.4s ease; /* transição suave para quando o menu for aberto */
    z-index: 10; /* menu fica numa camada maior */
}

.itens-menu{
    width: 100%;
}

.itens-menu a {
    /* aumenta a área clicável, para facilitar o uso em mobile */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /* permite retirar aquele "quadradinho" azul do clique */
}

/* mostra o foco visível quando o usuário navega por teclado, importante para acessibilidade */
.itens-menu a:focus-visible {
    outline: 2px solid var(--color01);
}


.menu.ativo {
    /* quando o menu abre cresce até 300px */
    max-height: 300px;
}

.menu ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    text-align: center;
    list-style-type: none;
    padding: 4px;
    outline: 1px solid rgba(0, 0, 0, 0.071);
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: red;
}

.cont-titulo {
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    max-width: 300px;
    z-index: 1;
}

.cont-titulo h1, .cont-titulo p {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.cont-titulo > h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.285);
}

.cont-titulo > p {
    line-height: 1.4em;
}

.titulo-sobre {
    padding: 20px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.titulo-sobre > h1 {
    padding-bottom: 10px;
}
.titulo-sobre > p {
    padding-top: 5px;
}



.btn-header {
    position: relative;
    overflow: hidden;
    background-color: var(--color01);
    border: 3px solid white;
    padding: 12px;
    border-radius: 20px;
    color: white;
    width: 60%;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.2s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    font-weight: bold;
}

.btn-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100%;
    background: linear-gradient(120deg, transparent,rgba(255,255,255,0.6),transparent);
    animation: brilho 1s linear infinite;
    transform: skewX(-25deg);
}

.btn-header:focus {
    background-color: var(--color02);
    color: white;
}


/* seletores utilizado na section de todas as páginas, exceto a home */
.cont-principal {
    /* max-width: 550px; */
    margin: auto;
    background-color: rgb(250, 241, 230);
    padding: 20px;
}
.cont-principal p {
    color: #757575;
    padding: 10px;
    margin: 5px 0px;
}
/* -----------------------------------------------------------------*/

/* body página home */
.cont-home {
    /* max-width: 550px; */
    margin: auto;
    background-color: rgb(250, 241, 230);
    color: var(--color01);
}

.cont-home p {
    color: var(--colorp);
    line-height: 1.7em;
}

.cont-inicio {
    padding: 20px;
    text-align: center;
}


.titulo-home {
    text-align: center;
    padding: 10px;
}

.cont-img-home {
    position: relative;
}
.cont-img-home::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.479);
}

.img-home {
    width: 100%;
    height: 400px;
    margin-bottom: -4px;
    object-fit: cover;
}

.sobre-home {
    padding: 20px;
    background-color: var(--color02);
    color: white;
}

.sobre-home p {
    color: white;
}


.acesso-sobrenos {
    text-align: center;
    padding: 30px;
}

.acesso-sobrenos a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
}


.acesso-cardapio {
    padding: 30px 30px 40px 30px;
    text-align: center;
}

.acesso-cardapio > h3 {
    padding: 7px;
    margin-bottom: 5px;
    color: var(--colorp);
}

.acesso-cardapio a {
    text-decoration: none;
    color: var(--color01);
    font-weight: bold;
}


/* body página sobre nós */
.principal-sobre {
    padding: 30px;
}

.historia-article > p {
    line-height: 2em;
}

.titulo-tradicao {
    text-align: center;
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding-top: 10px;
    margin-top: 10px;
}

.img-sobrenos {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: 240px;
}



/* body página cardápio */
.titulo-cardapio {
    text-align: center;
    padding: 20px;
    color: var(--color01);
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: 10px 0px;
}

.cardapios {
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 2em;
}



.cont-pizza {
    background-color: #592D2C;
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.cont-pizza p {
    color: white;
}


.cont-pizza {
    margin-bottom: 10vh;
}

.img-config {
    border-radius: 10px;
    width: 90%;
    height: 220px;
}

picture {
    width: 100%;
}

.cont-pizza h3, .cont-pizza p {
    padding: 10px;
}


.cont-pedido {
    margin: -10px 0px 40px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
}

.cont-pedido > h3 {
    font-size: 2em;
}

.btn-pedido{
  padding: 12px;
  background: var(--color01);
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
}


/* body página pedido */
.form-pedido {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color04);
    color: black;
}

.legend-form {
    font-size: 1.2em;
}

.size-form {
    display: flex;
    gap: 10px;
}


.nome-pedido input, .tel-pedido input {
    padding: 8px;
}

.nome-pedido label, .tel-pedido label {
    display: none;
}

.card-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border: 1px solid var(--color04);
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color04);
  color: var(--color02);
  width: 140px;
  height: 120px;
  text-align: center;
  gap: 10px;
}

.cont-clique {
    display: flex;
    flex-direction: column;
}

/* quando o checkbox dentro estiver marcado, muda o card */
.card-pizza:has(input:checked) {
  background-color: var(--color01);
  color: var(--color04);
}



.size-pedido {
    max-height: 180px;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}

.size-pedido img {
    width: 40px;
    height: 40px;
}

.clique {
    font-size: 0.8em;
}

.nome-pizza, .preco {
    font-weight: bold;
}
 
 
.infos-pedido {
    font-size: 0.8em;
    max-width: 170px;
    line-height: 1.6em;
}



.final-pedido {
    padding: 12px;
    width: 180px;
    color: white;
    background-color: var(--color01);
    font-weight: bold;
    border: none;
    flex: 1 1 auto;
    cursor: pointer;
}

.final-pedido:focus {
    background-color: var(--color-cont);
}


/* body página contato */
.cont-contato {
    padding: 20px;
}

.cont-telefones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tel-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tel-contato a {
    text-decoration: none;
    padding: 12px 10px 12px 10px;
    color: white;
    background-color: var(--color-footer);
    border-radius: 20px;
    margin: auto auto 10px auto;
    text-align: center;
    width: 150px;
}

.wpp-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: rgb(6, 172, 6);
    width: 150px;
    margin: auto;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.wpp-contato a {
    text-decoration: none;
    color: white;
}

.email-contato {
    padding: 14px 10px 14px 10px;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.email-contato a {
    text-decoration: none;
    color: black;
}

.endereco {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.horario-atendimento {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horario-atendimento p {
    color: black;
}

#fale-conosco {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

#formulario-contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formulario-contato div {
    display: flex;
}

#cont-info {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

#cont-nome label, #cont-email label, #cont-tel label, #cont-info label, #cont-mensagem label {
    display: none;
}

.config-label {
    display: none;
}

.config-input {
    flex: 1 1 150px;
    padding: 10px;
}

.cont-info {
    padding: 10px;
}

.btn-form {
    padding: 10px;
    color: white;
    background-color: var(--color01);
    font-weight: bold;
    border: none;
}

.btn-form:hover {
    background-color: var(--color02);
}

.text-msg {
    text-indent: 8px;
    padding: 5px;
}

/* footer */
footer {
    background-color: var(--color-footer);
    color: #a7a7a7;
    padding: 10px;
}

.cont-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cont-local {
    padding: 10px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logos-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-footer > h4 {
    display: none;
}

.acesso-github a {
    text-decoration: none;
    color: #a7a7a7;
    font-weight: bold;
}


/* animação contínua do botão "peça agora" do header */
@keyframes brilho {
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}